/*------------------------------------------------------------*/
//                    buscar
/*------------------------------------------------------------*/

.pag {
  padding: 100px 30px 30px;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;

  h2 {
    color: #8b6914;
    font-size: 30px;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 12px;
    background: #2c2c2c;
    color: white;
    border: 1px solid #555;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.nada {
  color: #aaa;
}

.ocupadas {
  color: #d4a843;
  margin-bottom: 15px;
  font-size: 14px;
}


.item {
  padding: 15px;
  margin-bottom: 10px;
  background: #2c2c2c;

  b {
    color: #d4a843;
    font-size: 16px;
  }

  p {
    color: white;
    margin-top: 5px;
  }

  span {
    color: #aaa;
    font-size: 13px;
  }
}